body {
    font-size: 13px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    overflow-x:hidden;
}


/*map css*/


/*main timeline css*/

.axis text {
    font-size: 10px;
    font-family: "Roboto";
    fill: #000;
}

.axis line {

    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}


.grid-background {
    fill: #ffffff;
    fill-opacity: 0.2;
}

.brush .extent {
    stroke: grey;
    fill-opacity: .1;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.leaflet-container {
    cursor: default !important;
}

#map {
    border: 1px solid;
    stroke: #939393;
    fill-opacity: .125;
    /*shape-rendering: crispEdges;*/
}

/*node css*/

.node {
    /*shape-rendering: crispEdges;*/
    stroke: #000;
    stroke-width: 1px;
}

.population-background {
    fill: #ffffff;
    fill-opacity: 0.1;
}
path.line {
    fill: none;
    stroke-width: 1px;
    stroke: #939393;
    shape-rendering: auto;
    /*shape-rendering: crispEdges;*/
}

path.area {
    fill: lightsteelblue;
    fill-opacity: 0.5;
    shape-rendering: auto;

}

