body {
    font-size: 13px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    overflow-x:hidden;
}


/*map css*/


/*main timeline css*/

.axis text {
    font-size: 10px;
    font-family: "Roboto";
    fill: #000;
}

.axis line {

    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}


.grid-background {
    fill: #ffffff;
    fill-opacity: 0.2;
}

.brush .extent {
    stroke: grey;
    fill-opacity: .1;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.leaflet-container {
    cursor: default !important;
}

#map {
    border: 1px solid;
    stroke: #939393;
    fill-opacity: .125;
    /*shape-rendering: crispEdges;*/
}

/*node css*/

.node {
    /*shape-rendering: crispEdges;*/
    stroke: #000;
    stroke-width: 1px;
}

.population-background {
    fill: #ffffff;
    fill-opacity: 0.1;
}
path.line_population {
    fill: none;
    stroke-width: 1px;
    stroke: #E040FB;
    shape-rendering: auto;
    /*shape-rendering: crispEdges;*/
}

path.area_population {
    fill: #E040FB;
    fill-opacity: 0.3;
    shape-rendering: auto;

}

path.line_network {
    fill: none;
    stroke-width: 1px;
    stroke: #7d7d7d;
    shape-rendering: auto;
    /*shape-rendering: crispEdges;*/
}

path.area_network {
    fill: #7d7d7d;
    fill-opacity: 0.3;
    shape-rendering: auto;

}

path.line_label {
    fill: none;
    stroke-width: 1px;
    stroke: #03A9F4;
    shape-rendering: auto;
    /*shape-rendering: crispEdges;*/
}

path.area_label {
    fill: #03A9F4;
    fill-opacity: 0.5;
    shape-rendering: auto;

}

path.lineConnect {
    fill: none;
    stroke: black;
    stroke-width: 5px;
    opacity: 1;
}

.link_line {
    stroke: black;
    stroke-width: 1;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltipLabel {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 10px;
}
.timeline-label {
    font-family: sans-serif;
    font-size: 12px;
}
#timeline2 .axis {
    transform: translate(0px,40px);
    -ms-transform: translate(0px,40px); /* IE 9 */
    -webkit-transform: translate(0px,40px); /* Safari and Chrome */
    -o-transform: translate(0px,40px); /* Opera */
    -moz-transform: translate(0px,40px); /* Firefox */
}

.coloredDiv {
    height:20px; width:20px; float:left;
}
/**
 * Leaflet TimeOverLay
 */
.timeOverlay {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.timeOverlay h4 {
    margin: 0 0 5px;
    color: #777;
}

